---
layout: layouts/base.njk
title: "Home"
permalink: /
---


<div class="container">

	<div class="row">
	{% for item in imageGallery %}
	<div class="col-lg-4">
		<div class="border rounded">
		<img src="/images/uploads/{{ item }}" class="img-fluid" alt="">
		</div>
	</div>
	{% endfor %}
	</div>
	{# This is an example of a page component #}
	{#{% include 'source/pages/page-components/latest-3-posts.njk' %}#}
</div><!-- end container -->
